# dependencies
/node_modules

# production
/build
/dist
/out

# testing
/coverage
memo.test.json
memo.json

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*-debug.log

# env
.env
.env.local

# cache
.cspellcache
.eslintcache

# eslint
eslint-typegen.d.ts

# db
db.json
